<div class="relative ml-4 h-[190px] w-[136px]">
  <!--lombada do livro-->
  <div class="absolute -left-[10px] top-0 h-full w-[10px]
        [clip-path:polygon(0_5%,100%_0,100%_100%,0_95%)]"
        [style.background-color]="spineColor"
  >
  </div>

  <!--capa do livro-->
  <div class="relative flex h-full w-full items-center justify-center"
       [style.background-color]="book().coverColor"
  >
    <p class="text-center text-xl leading-tight m-3">
      {{book().name}}
    </p>
  </div>
</div>
