<section class="m-10">

    <h1 class="text-2xl font-semibold text-stone-800">
      My Bokkis
    </h1>

  <div
    id="bokkis"
    class="mt-8 flex flex-col gap-y-2">
     <div class="relative">

       <div class="flex h-[215px] items-end gap-x-3">
            <!-- Criar novo Bokki -->
            <div class="flex h-[215px] w-[80px] shrink-0 items-end">
              <button
              type="button"
              class="mb-[12px] flex h-[190px] w-full items-center justify-center
                  rounded-[7px] border-2 border-dashed border-zinc-300
                  bg-[#e4edf0] hover:border-zinc-400 hover:bg-[#c5d2d6]"
              >
                  <span class="text-5xl text-[#17124d]">
                      +
                  </span>
              </button>
            </div>

            <app-notebook class="shrink-0" />
            <app-notebook class="shrink-0" />
            <app-notebook class="shrink-0" />
       </div>

       <!-- prateleira-->
       <div class="absolute inset-x-0 bottom-0 h-[12px] rounded-sm  bg-amber-700 shadow-md "></div>
       <!-- inset, serve para definir distancia de um elemento absolute/fixed em relação a referencia,
         no caso, aqui por ele fica encostado na direita e esquerda do elemento pai, ocupando toda sua largura -->

     </div>
  </div>
</section>